@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Poppins, Arial, sans-serif;
}

body{
    height:100vh;
    overflow:hidden;
}

.container{
    display:flex;
    width:100%;
    height:100vh;
}

/* LEFT */

.left-panel{

    flex:1;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#fafafa;
}

.logo{

    width:90px;
    position:absolute;
    top:20px;
    left:20px;
}

.register-box{

    width:60%;
    max-width:550px;
}

.register-box h1{

    text-align:center;
    color:#c1272d;
    font-size:72px;
    margin-bottom:15px;
}

.register-box p{

    text-align:center;
    font-size:22px;
    margin-bottom:50px;
}

.input-group{

    display:flex;
    align-items:center;
    background:#f2f2f2;
    border-radius:18px;
    margin-bottom:25px;
    padding:18px;
}

.input-group input{

    border:none;
    background:none;
    width:100%;
    outline:none;
    font-size:28px;
}

button{

    display:block;
    margin:40px auto 0;
    border:none;
    background:#c1272d;
    color:white;
    padding:18px 80px;
    border-radius:35px;
    font-size:32px;
    cursor:pointer;
    transition:.3s;
}

button:hover{

    background:#c1272d;
}

.form-error{

    background:#fdecea;
    color:#b3261e;
    text-align:center;
    padding:12px;
    border-radius:12px;
    margin-bottom:25px;
    font-size:18px;
}

/* RIGHT */

.right-panel{

    width:42%;
    background:#c1272d;
    color:white;
}

.right-content{

    height:100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.right-content h1{

    font-size:70px;
    margin-bottom:20px;
}

.right-content p{

    font-size:24px;
    margin-bottom:50px;
}

.login-btn{

    background:white;
    color:#c1272d;
    text-decoration:none;
    padding:18px 60px;
    border-radius:40px;
    font-size:34px;
    font-weight:bold;
    transition:.3s;
}

.login-btn:hover{

    background:#f2f2f2;
}